
$unit: 8px;

$half-unit: $unit / 2;
$double-unit: $unit * 2;
$tripple-unit: $unit * 3;
$quad-unit: $unit * 4;


$mobile-page-width: 100%;
$page-width: 800px;

$sidebar-width: 25%;

$desktop-content-width: 75%;
$mobile-content-width: 100%;
