html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

a {
  color: black;
  text-decoration: none; }

.centre, .page-container, .menu__list, .sidebar {
  margin-left: auto;
  margin-right: auto; }

.brand-text-style, .header__brand {
  color: #090909;
  font-style: italic;
  font-weight: 600;
  font-size: 32px; }
  @media (min-width: 25em) {
    .brand-text-style, .header__brand {
      font-size: 54px; } }

.menu-text-style, .menu__toggle, .menu__item {
  color: #090909;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 22px; }

.title-text-style, .main-content__title {
  color: #090909;
  font-size: 30px; }

.card-title-text-style, .sidebar__card-title {
  color: #090909;
  font-size: 30px; }

.subtitle-text-style, .main-content__subtitle {
  color: #090909;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 14px;
  line-height: 24px; }

.content-text-style, .main-content__story {
  color: #090909;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 24px;
  line-height: 30px; }
  @media (min-width: 25em) {
    .content-text-style, .main-content__story {
      font-size: 16px;
      line-height: 20px; } }

.content-title-text-style, .main-content__more-title {
  font-family: "Times New Roman", Times, serif;
  color: #090909;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px; }

.page-container {
  min-width: 320px;
  width: 100%;
  padding: 8px 24px 0 24px; }
  @media (min-width: 25em) {
    .page-container {
      width: 800px;
      padding: 24px 0 0 0; } }

.header-container {
  width: 100%;
  padding-bottom: 16px; }

.header {
  height: 88px;
  overflow: hidden; }

.header__brand {
  display: inline-block; }
  @media (min-width: 25em) {
    .header__brand {
      width: 75%; } }

.header__social-media-list {
  display: none; }
  @media (min-width: 25em) {
    .header__social-media-list {
      width: 25%;
      display: inline-block;
      height: 88px;
      vertical-align: top; } }

.header__logo {
  display: inline-block;
  width: 20%; }
  @media (min-width: 25em) {
    .header__logo {
      width: 10%; } }
  .header__logo img {
    width: 100%; }

.header__title {
  display: inline-block;
  width: 80%;
  height: 100%;
  text-align: center;
  vertical-align: middle; }
  @media (min-width: 25em) {
    .header__title {
      text-align: left;
      padding-left: 16px; } }

.header__title:before {
  content: '';
  display: inline-block;
  vertical-align: middle; }

.header__social-media-item {
  width: 33.333%;
  display: inline-block;
  text-align: right;
  padding: 8px; }
  .header__social-media-item img {
    width: 100%; }

.menu-container {
  width: 100%;
  padding-bottom: 24px; }

.menu__bar {
  text-align: center; }
  @media (min-width: 25em) {
    .menu__bar {
      display: none; } }

.menu__toggle {
  border: solid #555555 1px;
  background-color: #F2F2F2;
  padding: 8px;
  display: inline-block; }

.menu__list {
  display: none; }
  @media (min-width: 25em) {
    .menu__list {
      border: solid #555555 1px;
      background-color: #F2F2F2;
      padding: 4px;
      display: block; } }

.menu__item {
  display: inline-block;
  width: 16.666%;
  padding: 8px;
  text-align: center; }

.content-container {
  width: 100%;
  padding-bottom: 32px; }

.main-content {
  width: 100%;
  display: inline-block;
  padding: 0 8px 16px 0; }
  @media (min-width: 25em) {
    .main-content {
      width: 75%; } }

.main-content__text {
  padding-bottom: 16px; }

.main-content__title {
  padding-bottom: 4px; }

.main-content__subtitle {
  padding-bottom: 16px; }
  @media (min-width: 25em) {
    .main-content__subtitle {
      padding-bottom: 4px; } }

.main-content__image img {
  width: 100%;
  padding-bottom: 16px; }

.main-content__more-desktop {
  display: none; }
  @media (min-width: 25em) {
    .main-content__more-desktop {
      display: block;
      position: relative;
      float: right;
      margin-left: 8px;
      margin-bottom: 16px; } }

.main-content__more-mobile {
  display: block; }
  @media (min-width: 25em) {
    .main-content__more-mobile {
      display: none; } }

.main-content__more-list {
  list-style: disc inside; }

.sidebar {
  display: none; }
  @media (min-width: 25em) {
    .sidebar {
      display: inline-block;
      vertical-align: top;
      width: 25%; } }

.sidebar__card {
  width: 100%;
  padding-left: 8px;
  padding-bottom: 16px; }

.sidebar__card-title {
  padding-bottom: 8px; }

.sidebar__card-image img {
  width: 100%; }

.footer__list {
  min-height: 56px;
  border: solid #555555 2px;
  border-bottom: none;
  background-color: #F2F2F2;
  margin: 0 24px;
  text-align: center; }

.footer__social-media-item {
  display: inline-block;
  width: 20%;
  padding: 8px;
  margin: 8px; }
  .footer__social-media-item img {
    width: 100%; }
  @media (min-width: 25em) {
    .footer__social-media-item {
      display: none; } }

/*# sourceMappingURL=styles.css.map */
